* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #ffffff;
  margin: 2px;
  overflow: hidden;
}

h1 {
  color: #ffffff;
  text-align: center;
  font-size: 33px;
  font-weight: bold;
}

p {
  xline-height: 10px;
}