* {
  box-sizing: border-box;
  xwidth: 100%;
}

body {
  font-family: sans-serif;
  color: #161616;
  margin: 3px;
}

h1 {
  color: #ffffff;
  text-align: center;
  font-size: 33px;
  font-weight: bold;
}

p {
  xline-height: 10px;
}