* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #ffffff;
  margin: 2px;
  overflow: hidden;
}

.container>div {
  display: flex;
  justify-content: flex-end;
  /* align-items: flex-start; */
  padding: 0 5px 5px;
  color: #ffffff;
  flex-direction: column;
}

.container>div:nth-child(1n) {
  background-color: #39c081;
}

.container>div:nth-child(3n) {
  background-color: #ab88d8;
}

.container>div:nth-child(2n) {
  background-color: #e41e17;
}

.container>div:nth-child(4n) {
  background-color: #ffcc5c;
}