    <container class="bio__container">
        <div class="bio">
            <h1 class="bio__header">BIO</h1>   
            <h4 class="bio__subline">Lorem Ipsum Dolor</h4>   
            <section>
                <div class="bio__header-small">Professional Experience</div> 
                <div>
                    <div class="bio__year">2017-19</div><br>
                    <div class="bio__text">Art Director</div><br>
                    <div class="bio__text-bottom">Jung von Matt/Next Alster</div>
                </div>   
                <div>
                    <div class="bio__year">2017-19</div><br>
                    <div class="bio__text">Art Director</div><br>
                    <div class="bio__text-bottom">Jung von Matt/Next Alster</div>
                </div>   
                <div>
                    <div class="bio__year">2017-19</div><br>
                    <div class="bio__text">Art Director</div><br>
                    <div class="bio__text-bottom">Jung von Matt/Next Alster</div>
                </div>   
                <div>
                    <div class="bio__year">2017-19</div><br>
                    <div class="bio__text">Art Director</div><br>
                    <div class="bio__text-bottom">Jung von Matt/Next Alster</div>
                </div>   
                <div>
                    <div class="bio__year">2017-19</div><br>
                    <div class="bio__text">Art Director</div><br>
                    <div class="bio__text-bottom">Jung von Matt/Next Alster</div>
                </div>
            </section>  
            <section>
                <div class="bio__header-small">Education</div> 
                <div>
                    <div class="bio__year">2017-19</div><br>
                    <div class="bio__text">Art Director</div><br>
                    <div class="bio__text-bottom">Jung von Matt/Next Alster</div>
                </div>   
                <div>
                    <div class="bio__year">2017-19</div><br>
                    <div class="bio__text">Art Director</div><br>
                    <div class="bio__text-bottom">Jung von Matt/Next Alster</div>
                </div>   
                <div>
                    <div class="bio__year">2017-19</div><br>
                    <div class="bio__text">Art Director</div><br>
                    <div class="bio__text-bottom">Jung von Matt/Next Alster</div>
                </div>   
                <div>
                    <div class="bio__year">2017-19</div><br>
                    <div class="bio__text">Art Director</div><br>
                    <div class="bio__text-bottom">Jung von Matt/Next Alster</div>
                </div>   
                <div>
                    <div class="bio__year">2017-19</div><br>
                    <div class="bio__text">Art Director</div><br>
                    <div class="bio__text-bottom">Jung von Matt/Next Alster</div>
                </div> 
            </section>
        </div>
    </container>