    <container class="bio__container">
        <div class="bio__margin">
            <h1 class="bio__header">BIO</h1>   
                <h2 class="bio__subline">Lorem Ipsum Dolor</h2> 
            <div class="bio">  
                <section>
                    <div class="bio__header-small">Professional Experience</div> 
                    <div>
                        <div class="bio__year">2017-19</div>
                        <div class="bio__text">Art Director</div>
                        <div class="bio__text-bottom">Jung von Matt/Next Alster</div>
                    </div>   
                    <div>
                        <div class="bio__year">2017-19</div>
                        <div class="bio__text">Art Director</div>
                        <div class="bio__text-bottom">Jung von Matt/Next Alster</div>
                    </div>   
                    <div>
                        <div class="bio__year">2017-19</div>
                        <div class="bio__text">Art Director</div>
                        <div class="bio__text-bottom">Jung von Matt/Next Alster</div>
                    </div>   
                    <div>
                        <div class="bio__year">2017-19</div>
                        <div class="bio__text">Art Director</div>
                        <div class="bio__text-bottom">Jung von Matt/Next Alster</div>
                    </div>   
                    <div>
                        <div class="bio__year">2017-19</div>
                        <div class="bio__text">Art Director</div>
                        <div class="bio__text-bottom-bottom">Jung von Matt/Next Alster</div>
                    </div>
                </section>  
                <section>
                    <div class="bio__header-small">Education</div> 
                    <div>
                        <div class="bio__year">2017-19</div>
                        <div class="bio__text">Art Director</div>
                        <div class="bio__text-bottom">Jung von Matt/Next Alster</div>
                    </div>   
                    <div>
                        <div class="bio__year">2017-19</div>
                        <div class="bio__text">Art Director</div>
                        <div class="bio__text-bottom">Jung von Matt/Next Alster</div>
                    </div>   
                    <div>
                        <div class="bio__year">2017-19</div>
                        <div class="bio__text">Art Director</div>
                        <div class="bio__text-bottom">Jung von Matt/Next Alster</div>
                    </div>   
                    <div>
                        <div class="bio__year">2017-19</div>
                        <div class="bio__text">Art Director</div>
                        <div class="bio__text-bottom">Jung von Matt/Next Alster</div>
                    </div>   
                    <div>
                        <div class="bio__year">2017-19</div>
                        <div class="bio__text">Art Director</div>
                        <div class="bio__text-bottom-bottom">Jung von Matt/Next Alster</div>
                    </div> 
                </section>
            </div>
        </div>
    </container>