<section class="">
  <div class="container">
    <div>
      <div class="container__subline">Kleine Headline</div>
      <div class="container__headline">Große Headline</div>
    </div>
    <div>
      <div class="container__subline">Kleine Headline</div>
      <div class="container__headline">Große Headline</div>
    </div>
    <div>
      <div class="container__subline">Kleine Headline</div>
      <div class="container__headline">Große Headline</div>
    </div>
    <div>
      <div class="container__subline">Kleine Headline</div>
      <div class="container__headline">Große Headline</div>
    </div>
    <div>
      <div class="container__subline">Kleine Headline</div>
      <div class="container__headline">Große Headline</div>
    </div>
    <div>
      <div class="container__subline">Kleine Headline</div>
      <div class="container__headline">Große Headline</div>
    </div>
    <div>
      <div class="container__subline">Kleine Headline</div>
      <div class="container__headline">Große Headline</div>
    </div>
    <div>
      <div class="container__subline">Kleine Headline</div>
      <div class="container__headline">Große Headline</div>
    </div>
    <div>
      <div class="container__subline">Kleine Headline</div>
      <div class="container__headline">Große Headline</div>
    </div>
    <div>
      <div class="container__subline">Kleine Headline</div>
      <div class="container__headline">Große Headline</div>
    </div>
    <div>
      <div class="container__subline">Kleine Headline</div>
      <div class="container__headline">Große Headline</div>
    </div>
    <div>
      <div class="container__subline">Kleine Headline</div>
      <div class="container__headline">Große Headline</div>
    </div>
  </div>
</section>
<section class="" style="">
    <section class="">
      <p class="h1 ">Bio</p>
      <div class="">
        <div class="col">
          <p class="h5">Professional Experience</p>
          <p class="h3"><span class="badge badge-secondary">2006-2008</span>
            <p class="">Lorem ipsum dolor<br><small class="text-muted">sit amet consectetur adipisicing</small></p>
          </p>
          <p class="h3"><span class="badge badge-secondary">2006-2008</span>
            <p class="">Lorem ipsum dolor<br><small class="text-muted">sit amet consectetur adipisicing</small></p>
          </p>
          <p class="h3"><span class="badge badge-secondary">2006-2008</span>
            <p class="">Lorem ipsum dolor<br><small class="text-muted">sit amet consectetur adipisicing</small></p>
          </p>
          <p class="h3"><span class="badge badge-secondary">2006-2008</span>
            <p class="">Lorem ipsum dolor<br><small class="text-muted">sit amet consectetur adipisicing</small></p>
          </p>
        </div>
        <div class="col">
          <p class="h5 mb-4">Education</p>
          <p class="h3"><span class="badge badge-secondary">2006-2008</span>
            <p class="">Lorem ipsum dolor<br><small class="text-muted">sit amet consectetur adipisicing</small></p>
          </p>
          <p class="h3"><span class="badge badge-secondary">2006-2008</span>
            <p class="">Lorem ipsum dolor<br><small class="text-muted">sit amet consectetur adipisicing</small></p>
          </p>
          <p class="h3"><span class="badge badge-secondary">2006-2008</span>
            <p class="">Lorem ipsum dolor<br><small class="text-muted">sit amet consectetur adipisicing</small></p>
          </p>
          <p class="h3"><span class="badge badge-secondary">2006-2008</span>
            <p class="">Lorem ipsum dolor<br><small class="text-muted">sit amet consectetur adipisicing</small></p>
          </p>
          </p>
        </div>
      </div>
    </section>
