<section class="">
  <div class="container">
    <div>
      <div class="container__subline">Kleine Headline</div>
      <div class="container__headline">Große Headline</div>
    </div>
    <div>
      <div class="container__subline">Kleine Headline</div>
      <div class="container__headline">Große Headline</div>
    </div>
    <div>
      <div class="container__subline">Kleine Headline</div>
      <div class="container__headline">Große Headline</div>
    </div>
    <div>
      <div class="container__subline">Kleine Headline</div>
      <div class="container__headline">Große Headline</div>
    </div>
    <div>
      <div class="container__subline">Kleine Headline</div>
      <div class="container__headline">Große Headline</div>
    </div>
    <div>
      <div class="container__subline">Kleine Headline</div>
      <div class="container__headline">Große Headline</div>
    </div>
    <div>
      <div class="container__subline">Kleine Headline</div>
      <div class="container__headline">Große Headline</div>
    </div>
    <div>
      <div class="container__subline">Kleine Headline</div>
      <div class="container__headline">Große Headline</div>
    </div>
    <div>
      <div class="container__subline">Kleine Headline</div>
      <div class="container__headline">Große Headline</div>
    </div>
    <div>
      <div class="container__subline">Kleine Headline</div>
      <div class="container__headline">Große Headline</div>
    </div>
    <div>
      <div class="container__subline">Kleine Headline</div>
      <div class="container__headline">Große Headline</div>
    </div>
    <div>
      <div class="container__subline">Kleine Headline</div>
      <div class="container__headline">Große Headline</div>
    </div>
  </div>
</section>
